@model WorkManager.Models.ProjectsViewModels.DetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>Details</h2>

<div>
    <div class="jumbotron">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <h3 id="today-duration"></h3>
        <h6>@Html.DisplayFor(model => model.Description)</h6>
        <hr />
        <button class="btn btn-primary btn-lg" 
                href="#" 
                role="button"
                id="start-btn">Start</button>
        <button class="btn btn-primary btn-lg" 
                href="#" 
                role="button"
                id="stop-btn">Stop</button>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    @foreach (var x in Model.Days)
                    {
                        <th>@x</th>
                    }
                </tr>
            </thead>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts
{
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/moment-duration-format/lib/moment-duration-format.js"></script>

    <script>
        $('#start-btn').click(function () {
            $.get('@Url.Action("start", "timers", new { projectId = Model.Id })');
        });

        $('#stop-btn').click(function () {
            $.get('@Url.Action("stop", "timers", new { projectId = Model.Id })');
        });

        window.setInterval(updateTodayDuration, 1000);

        function updateTodayDuration()
        {
                $.get({
                    url: '@Url.Action("TodayStatistics", "timers", new { projectId = Model.Id })',
                    success: function (data) {
                        $('#today-duration').html(moment.duration(data.duration).format("hh:mm:ss", { trim : false }));
                    }
                });
        }
    </script>
}
